.expense-list {
  margin-top: 1vh;
  margin-right: 2em;
  padding: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  width: 24vw;
  height: 88vh;
  background-color: white;
  box-sizing: border-box;
  border-radius: 1em;
  position: fixed;
}

.expense-list h2 {
  text-align: center;
  margin-top: 0;
}

.expense-list button {
  display: block;
  margin: 1em;
  padding: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.expense-list button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-expense-form {
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 10;
}