/* Navbar */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5vh;
  margin-left: 0.5vw;
  width: 14.5vw;
  height: 88vh;
  background-color: white;
  position: fixed;
  overflow: auto;
  top: 9.5vh;
  border-radius: 1em;
}

li a {
  display: block;
  color: #202020;
  padding: 1vh 1vw;
  margin: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #e6e5e5;
  border-radius: 0.5em;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
}

li a:hover {
  background-color: #d7d7d7;
  transition: background-color 0.2s ease-in-out;
}

.active a:hover {
  background-color: #7698e0;
  transition: background-color 0.2s ease-in-out;
}

.active a {
  background-color: #84a9f7;
  font-weight: bold;
}
