.bar-chart {
  background-color: white;
  width: 58.5vw;
  height: 73vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1em;
}

.form-container form {
  display: flex;
  justify-content: left;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.5em;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
}
