<div class="bar-chart">
  <div class="form-container">
    <form #chartForm="ngForm" (ngSubmit)="fetchChartData()" autocomplete="off">
      <div class="form-group">
        <label for="timeRange">Time:</label>
        <select #timeRange id="timeRange" name="timeRange" (change)="chartForm.form.valid && fetchChartData()">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input #startDate type="date" id="startDate" name="startDate" (change)="chartForm.form.valid && fetchChartData()">
      </div>
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input #endDate type="date" id="endDate" name="endDate" (change)="chartForm.form.valid && fetchChartData()">
      </div>
    </form>
  </div>
  <div class="canvas-container">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    chartType="bar">
  </canvas>
</div>
</div>
